.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.footer .footer__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer:first-child {
  grid-column: 2;
}

.footer .footer__section .footer__heading {
  color: white;
  margin: 2rem 0 0.5rem 0;
  padding: 0;
}

.footer .footer__section .footer__nav {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  padding: 0;
  margin: 0 0 2rem 0;
}

.footer .footer__section .footer__nav--horizontal {
  grid-auto-flow: row;
  grid-template: repeat(2, auto);
}

.footer .footer__section .footer__nav .footer__nav-item {
  font-size: 16px;
  color: #E6E6E6;
  margin: 0.2rem 2rem 0.2rem 0rem;
}

.footer .footer__section .footer__nav .footer__nav-item a {
  line-height: 19px;
}

.footer .footer__section .footer__nav .footer__nav-item a:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__social {
  display: flex;
  flex-flow: row nowrap;
}

.footer .footer__section .footer__social .footer__social-item {
  color: #E6E6E6;
  font-size: 2rem;
  margin: .5rem 2.6rem 2rem 0;
}

.footer .footer__section .footer__social .footer__social-item:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__copyright {
  color: #919191;
}
