.site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 6rem;
}

.main {
    display: grid;
    grid-template-rows: repeat(6, auto);
    row-gap: 5rem;
    @include for-tablet-landscape-down {
        grid-template-rows: repeat(5, auto);
    }
}

.main-trainers {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 6rem;
    padding-top: 6rem;
}