.footer {
  transform: translateY(0%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 310px;
  padding-left: 100px;
}

.footer--wrapper {
  background: #565656;
  border-top: 10px solid #919191;
}

.footer .footer__content {
  padding-left: 180px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 200px;
  grid-gap: 3rem;
}

.footer .footer__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .footer__section {
  grid-gap: 1rem;
}

.footer .footer__section .footer__heading {
  color: white;
  margin-bottom: 1rem;
}

.footer .footer__section .footer__nav {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  padding: 0;
  grid-gap: 1rem;
}

.footer .footer__section .footer__nav--horizontal {
  grid-auto-flow: row;
  grid-template: repeat(2, auto);
}

.footer .footer__section .footer__nav .footer__nav-item {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: normal;
}

.footer .footer__section .footer__nav .footer__nav-item a {
  line-height: 19px;
}

.footer .footer__section .footer__nav .footer__nav-item a:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__social .footer__social-item {
  color: #E6E6E6;
  font-size: 2rem;
}

.footer .footer__section .footer__social .footer__social-item:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__copyright {
  color: #919191;
}
