/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.cta {
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  margin: 0 auto;
  width: 90vw;
}

.cta--wrapper {
  background-color: #66B9F8;
}

.cta__title {
  color: white;
  margin: 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .cta__title {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
}

.cta__subtitle {
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .cta__subtitle {
    text-align: left;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 32px;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.cta__element {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  background: transparent;
  padding: 16px;
}

.cta__element::placeholder {
  color: white;
}

@media (max-width: 1024px) {
  .cta__button {
    justify-self: left;
  }
}

@media (max-width: 799px) {
  .cta__button {
    justify-self: auto;
  }
}
