@import '../01-settings/settings-colors.scss';
@import '../01-settings/settings-breakpoints.scss';
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    border-bottom: 10px dotted $primary-50;
    padding-bottom: 6rem;
    @include for-desktop-down {
        grid-template-columns: auto;
    }
    .card {
        display: grid;
        grid-gap: 1rem;
        grid-column-gap: 2rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        @include for-tablet-landscape-down {
            justify-items: center;
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
        &__picture {
            grid-row: 1/ span 2;
            // & img {
            //     width: 11vw;
            // }
            @include for-tablet-landscape-down {
                grid-row: 1;
            }
        }
        &__header {
            @include for-tablet-landscape-down {
                grid-row: 2;
                text-align: center;
            }
        }
        &__content {
            grid-column: 2;
            @include for-tablet-landscape-down {
                grid-row: 3;
                grid-column: 1;
            }
        }
        &__title {
            margin-top: 0;
            margin-bottom: 0.5rem;
            color: $primary-300;
        }
        &__subtitle {
            color: $grey-400;
        }
        &__paragraph {
            margin: 0;
        }
    }
}