/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

@media (max-width: 1199px) {
  .cards {
    grid-template-columns: auto;
  }
}

.cards .card {
  display: grid;
  grid-gap: 1rem;
  grid-column-gap: 2rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

@media (max-width: 799px) {
  .cards .card {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.cards .card__picture {
  grid-row: 1/ span 2;
}

@media (max-width: 799px) {
  .cards .card__picture {
    grid-row: 1;
  }
}

@media (max-width: 799px) {
  .cards .card__header {
    grid-row: 2;
    text-align: center;
  }
}

.cards .card__content {
  grid-column: 2;
}

@media (max-width: 799px) {
  .cards .card__content {
    grid-row: 3;
    grid-column: 1;
  }
}

.cards .card__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #41BEAD;
}

.cards .card__subtitle {
  color: #B2B2B2;
}

.cards .card__paragraph {
  margin: 0;
}
