.description {
    display: grid;
    grid-template-columns: 65% 30%;
    justify-content: space-between;
    &__images {
        position: relative;
    }
    &__image {
        &--main {
            width: 100%;
        }
        &--positioned {
            position: absolute;
        }
    }
}