@import '../01-settings/settings-breakpoints.scss';
@import '../01-settings/settings-colors.scss';
.navigation {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    background: white;
    justify-items: end;
    &--container {
        background: white;
    }
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img {
            margin-right: 10px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        @include for-small-laptop-down {
            flex-flow: row;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        margin: 0;
        list-style: none;
        @include for-small-laptop-down {
            display: grid;
            position: absolute;
            background: white;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            justify-content: center;
            align-content: center;
            justify-items: center;
            grid-gap: 1rem;
            transform: translate(100%, -100%);
            border-radius: 200%;
            transition: transform 1s ease-in-out, border-radius 1s ease-in-out;
        }
    }
    &__item {
        padding: 2rem 0.8rem;
        font-size: 13px;
        color: $grey-700;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            color: $secondary-800;
        }
        @include for-small-laptop-down {
            font-size: 2rem;
            padding: 0;
        }
    }
    &__menu-icon {
        cursor: pointer;
        padding: 28px 20px;
        position: relative;
        z-index: 15;
        display: none;
        @include for-small-laptop-down {
            display: inline-block;
        }
    }
    &__navicon {
        background: #333;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        display: none;
        @include for-small-laptop-down {
            display: block;
        }
        &:before,
        &:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        &:before {
            top: 5px;
        }
        &:after {
            top: -5px;
        }
    }
    .navigation__menu-btn {
        display: none;
        &:checked~.navigation__items {
            transform: translate(0, 0);
            border-radius: 0;
            transition: transform 1s ease-in-out, border-radius 1s ease-in-out;
        }
        &:checked~.navigation__menu-icon .navigation__navicon {
            background: transparent;
            &:before {
                transform: rotate(-45deg);
                top: 0;
            }
            &:after {
                transform: rotate(45deg);
                top: 0;
            }
        }
    }
    // .navigation__menu-btn:checked~.navigation__items {}
    // .navigation__menu-btn:checked~.navigation__menu-icon .navigation__navicon {
    //     background: transparent;
    // }
    // .navigation__menu-btn:checked~.navigation__menu-icon .navigation__navicon:before {
    //     transform: rotate(-45deg);
    // }
    // .navigation__menu-btn:checked~.navigation__menu-icon .navigation__navicon:after {
    //     transform: rotate(45deg);
    // }
    // .navigation__menu-btn:checked~.navigation__menu-icon:not(.steps) .navigation__navicon:before,
    // .navigation__menu-btn:checked~.navigation__menu-icon:not(.steps) .navigation__navicon:after {
    //     top: 0;
    // }
}