/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes apear {
  from {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
    border-radius: 200%;
  }
  to {
    -webkit-transform: translateY(0%, 0%);
            transform: translateY(0%, 0%);
    border-radius: 0%;
  }
}

@keyframes apear {
  from {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
    border-radius: 200%;
  }
  to {
    -webkit-transform: translateY(0%, 0%);
            transform: translateY(0%, 0%);
    border-radius: 0%;
  }
}

.footer {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 310px;
}

@media (max-width: 1199px) {
  .footer {
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
}

.footer--wrapper {
  background: #565656;
  border-top: 10px solid #919191;
}

.footer__content {
  padding-left: 17rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 200px;
      grid-template-columns: 2fr 1fr 1fr 200px;
  -webkit-column-gap: 4vw;
          column-gap: 4vw;
}

@media (max-width: 1199px) {
  .footer__content {
    padding-left: 3rem;
  }
}

@media (max-width: 1024px) {
  .footer__content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .footer__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0 5vw;
    grid-gap: 0;
  }
}

.footer__image {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.footer__image:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@media (max-width: 1199px) {
  .footer__image {
    display: none;
  }
}

.footer__section {
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .footer__section--softuni-kids {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media (max-width: 799px) {
  .footer__section--initiative {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media (max-width: 799px) {
  .footer__section--education {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}

.footer__heading {
  color: white;
  margin-bottom: 1rem;
}

@media (max-width: 799px) {
  .footer__heading--social {
    display: none;
  }
}

.footer__nav {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  padding: 0;
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .footer__nav {
    display: block;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .footer__nav {
    -ms-grid-rows: (auto)[7];
        grid-template-rows: repeat(7, auto);
  }
}

.footer__nav--horizontal {
  grid-auto-flow: row;
  grid-template: repeat(2, auto);
}

.footer__nav .footer__nav-item {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: normal;
}

.footer__nav .footer__nav-item a {
  line-height: 19px;
}

.footer__nav .footer__nav-item a:hover {
  color: #41BEAD;
}

@media (max-width: 799px) {
  .footer__nav .footer__nav-item {
    padding-bottom: 1rem;
  }
}

.footer__social-item {
  color: #E6E6E6;
  font-size: 2rem;
  margin-right: 1.8rem;
}

.footer__social-item:hover {
  color: #41BEAD;
}

.footer__copyright {
  margin-top: 2rem;
  color: #919191;
}

@media (max-width: 799px) {
  .footer__copyright {
    border-top: 1px solid #696969;
    border: 0;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    width: 100%;
    background-color: #565656;
  }
}

@media (max-width: 799px) {
  .footer__copyright:before {
    border-top: 1px solid #696969;
    content: "";
    display: block;
    width: 90vw;
    margin: auto;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=components-footer.css.map */