@import '../01-settings/settings-colors.scss';
.header {
    &__info {
        background: $blue-400;
        color: white;
        padding: 64px 0;
        &--orange {
            background-color: $secondary-600;
        }
        &--small {
            padding: 3rem;
        }
    }
    &__cta {
        display: grid;
        grid-template-columns: 1fr auto auto auto 1fr;
        position: relative;
        top: -60px;
        align-items: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        background: white;
        height: 112px;
        grid-column-gap: 2rem;
    }
    &__enroll-btn {
        justify-self: center;
    }
    &__item {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 2rem;
    }
    &__image {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: right;
    }
    &__subtext {
        text-align: left;
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: left;
    }
    &__text {
        text-align: left;
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: left;
    }
    &__border {
        border-right: 1px solid $grey-100;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        justify-self: center;
    }
    &__title {
        font-size: 2.2rem;
        width: 50%;
        color: white;
    }
    &__label {
        font-size: 12px;
        line-height: 14px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        border-radius: 4px;
        padding: 0.4rem 0.6rem;
        background-color: $secondary-500;
        text-transform: uppercase;
        color: white;
    }
    &__paragraph {
        color: white;
        width: 70%;
    }
}