@import '../01-settings/settings-colors.scss';
@import '../01-settings/settings-breakpoints.scss';
.programs {
    background-color: $secondary-500;
    &:before {
        content: "";
        display: block;
        width: 100%;
        border-top: 10px dotted white;
        transform: translateY(-50%);
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 10px dotted white;
        transform: translateY(50%);
    }
}

.program {
    display: grid;
    grid-template-columns: 5% 55% auto;
    grid-template-rows: auto auto auto;
    padding: 3rem 0;
    @include for-desktop-down {
        grid-template-columns: 5% 90%;
        grid-gap: 0.5rem;
    }
    @include for-tablet-landscape-down {
        grid-template-columns: 10% 90%;
        grid-gap: 0rem;
    }
    &__heading {
        margin-top: 0;
    }
    &__content {
        grid-row: 2;
        grid-column: 2;
        @include for-tablet-landscape-down {
            grid-column: 1/3;
        }
    }
    &__image {
        grid-row: 3;
        grid-column: -1;
        justify-self: end;
        align-self: end;
        @include for-desktop-down {
            grid-row: 4;
            grid-column: 2;
        }
        @include for-tablet-landscape-down {
            display: none;
        }
    }
    &__form {
        grid-column: 2;
        grid-row: 3;
        display: grid;
        grid-gap: 1rem;
        @include for-tablet-landscape-down {
            grid-column: 1/3;
        }
    }
    &__subtitle {
        margin: 0.5rem 0;
    }
    &__select {
        position: relative;
        &:after {
            content: "";
            background: url('assets/arrow_select.png') center no-repeat;
            position: absolute;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}