@import '../01-settings/settings-colors.scss';
.programs {
    background-color: $secondary-500;
}

.program {
    display: grid;
    grid-template-columns: 5% 55% auto;
    grid-template-rows: auto auto auto;
    padding: 3rem 0;
    &__heading {
        margin-top: 0;
    }
    &__content {
        grid-row: 2;
        grid-column: 2;
    }
    &__image {
        grid-row: 3;
        grid-column: -1;
        justify-self: end;
        align-self: end;
    }
    &__form {
        grid-column: 2;
        grid-row: 3;
    }
    &__subtitle {
        margin: 0.5rem 0;
        font-weight: normal;
    }
    &__select {
        position: relative;
        &:after {
            content: "";
            background: url('../../assets/arrow_select.png') center no-repeat;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}