@import '../01-settings/settings-colors.scss';
@import '../01-settings/settings-breakpoints.scss';
.course-cards {
    display: flex;
    flex-flow: row;
    @include for-desktop-down {
        margin: 0 auto;
    }
    @include for-tablet-landscape-down {
        flex-flow: column;
    }
    &--margined {
        margin-bottom: 4.5rem;
        @include for-tablet-landscape-down {
            margin-bottom: 0;
        }
    }
}

.course-card {
    width: 50%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 4rem auto;
    @include for-tablet-landscape-down {
        width: 100%;
    }
    &:first-child {
        padding-right: 4rem;
        @include for-tablet-landscape-down {
            padding-right: 0;
            padding-bottom: 4rem;
        }
    }
    &:last-child {
        border-left: 12px dotted $secondary-100;
        padding-left: 4rem;
        @include for-tablet-landscape-down {
            border-left: 0;
            border-top: 12px dotted $secondary-100;
            padding-left: 0;
            padding-top: 4rem;
        }
    }
    &__icon {
        grid-column-start: 1;
        grid-row-start: 1;
        margin: 0;
        padding: 0;
    }
    &__heading {
        grid-column-start: 2;
        grid-row-start: 1;
        margin: 0;
        padding: 0;
        h2 {
            margin: 0;
            padding: 0;
        }
    }
    &__content {
        grid-column-start: 2;
        grid-row-start: 2;
        margin: 0;
        @include for-tablet-landscape-down {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
        }
    }
}