.cards {
  display: flex;
  flex-flow: row;
  margin: 5rem 0;
}

.card {
  width: 50%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 4rem auto;
}

.card:first-child {
  border-right: 12px dotted #FFECB3;
  padding-right: 4rem;
}

.card:last-child {
  padding-left: 4rem;
}

.card__icon {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.card__heading {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.card__heading h2 {
  margin: 0;
  padding: 0;
}

.card__content {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0;
}
