@import '../01-settings/settings-colors.scss';
@import '../01-settings/settings-breakpoints.scss';
.header {
    &__info {
        background: $blue-400;
        color: white;
        padding: 64px 0;
        &--orange {
            background-color: $secondary-600;
        }
        &--small {
            padding: 3rem;
        }
    }
    &__cta {
        display: grid;
        grid-template-columns: 20% .3fr auto auto auto auto;
        position: relative;
        top: -60px;
        align-items: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        background: white;
        height: 112px;
        grid-column-gap: 2rem;
        padding: 1.5rem;
        @include for-desktop-down {
            grid-template-columns: 20% 0% auto auto auto auto;
            grid-column-gap: 1rem;
        }
        @include for-tablet-landscape-down {
            grid-template-columns: repeat(auto-fit, 100%);
            grid-gap: 1.5rem;
            height: auto;
        }
    }
    &__enroll-btn {
        justify-self: center;
    }
    &__item {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 2rem;
        font-size: 1.125rem;
        @include for-desktop-down {
            font-size: 0.9rem;
            grid-column-gap: 1rem;
        }
        @include for-tablet-landscape-down {
            justify-content: start;
            font-size: 1.5rem;
            grid-column-gap: 2rem;
        }
    }
    &__image {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: right;
    }
    &__subtext {
        text-align: left;
        grid-row-start: 1;
        grid-column-start: 2;
        justify-self: left;
    }
    &__text {
        text-align: left;
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: left;
        font-weight: bold;
        color: #FF9100;
    }
    &__border {
        border-right: 1px solid $grey-100;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        justify-self: center;
        @include for-tablet-landscape-down {
            grid-row-start: 3;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 1;
            width: 100%;
            height: 2px;
            background: #F1F1F1;
            margin-top: 1rem;
        }
    }
    &__title {
        font-size: 2.2rem;
        width: 50%;
        color: white;
        @include for-tablet-landscape-down {
            font-size: 1.8rem;
            width: auto;
        }
    }
    &__label {
        font-size: 12px;
        line-height: 14px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        border-radius: 4px;
        padding: 0.4rem 0.6rem;
        background-color: $secondary-500;
        text-transform: uppercase;
        color: white;
    }
    &__paragraph {
        color: white;
        width: 70%;
    }
}