@charset "UTF-8";
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-bold.eot") format("embedded-opentype");
  src: local("Lato Bold"), local("Lato-Bold"), url("assets/fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-bold.woff2") format("woff2"), url("assets/fonts/lato-bold.woff") format("woff"), url("assets/fonts/lato-bold.ttf") format("truetype"), url("assets/fonts/lato-bold.svg#lato") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-bolditalic.eot") format("embedded-opentype");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("assets/fonts/lato-bolditalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-bolditalic.woff2") format("woff2"), url("assets/fonts/lato-bolditalic.woff") format("woff"), url("assets/fonts/lato-bolditalic.ttf") format("truetype"), url("assets/fonts/lato-bolditalic.svg#lato") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-regular.eot") format("embedded-opentype");
  src: local("Lato Regular"), local("Lato-Regular"), url("assets/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-regular.woff2") format("woff2"), url("assets/fonts/lato-regular.woff") format("woff"), url("assets/fonts/lato-regular.ttf") format("truetype"), url("assets/fonts/lato-regular.svg#lato") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-italic.eot") format("embedded-opentype");
  src: local("Lato Italic"), local("Lato-Italic"), url("assets/fonts/lato-italic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-italic.woff2") format("woff2"), url("assets/fonts/lato-italic.woff") format("woff"), url("assets/fonts/lato-italic.ttf") format("truetype"), url("assets/fonts/lato-italic.svg#lato") format("svg");
  font-weight: 400;
  font-style: italic;
}

html,
* {
  font-family: 'Lato', sans-serif;
  color: #565656;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none !important;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}

body,
html {
  overflow-x: hidden;
}

button {
  font-weight: 800;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 {
  line-height: 44px;
}

h2 {
  line-height: 36px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

h5 {
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

i {
  color: inherit;
}

select {
  background: #F8F8F8;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  color: #565656;
  border-radius: 6px;
  padding: 0.8rem;
  font-weight: bold;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: #919191;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.content--wrapper {
  width: 90vw;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.centered__container {
  display: grid;
  justify-items: center;
}

.centered__position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes apear {
  from {
    transform: translate(100%, -100%);
    border-bottom-left-radius: 200%;
  }
  to {
    transform: translate(0%, 0%);
    border-radius: 0%;
  }
}

@keyframes disapear {
  0% {
    transform: translate(0%, 0%);
    border-radius: 0%;
  }
  100% {
    transform: translate(100%, -100%);
    border-bottom-left-radius: 200%;
  }
}

@keyframes bump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header--map {
  background: url("assets/Map.svg") center no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

.header__info {
  background: #44A9F8;
  color: white;
  padding: 64px 0;
}

.header__info--orange {
  background-color: #FFB402;
}

.header__info--small {
  padding: 3rem;
}

.header__cta {
  display: grid;
  grid-template-columns: 20% .3fr auto auto auto auto;
  position: relative;
  top: -60px;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background: white;
  height: 112px;
  grid-column-gap: 2rem;
  padding: 1.5rem;
}

@media (max-width: 1199px) {
  .header__cta {
    grid-template-columns: 20% 0% auto auto auto auto;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 799px) {
  .header__cta {
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 1.5rem;
    height: auto;
  }
}

.header__enroll-btn {
  justify-self: center;
}

.header__item {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  font-size: 1.125rem;
}

.header__item:hover .header__image {
  animation-name: bump;
  animation-duration: 0.5s;
}

.header__item:hover .header__subtext, .header__item:hover .header__text {
  animation-name: scale;
  animation-duration: 0.5s;
}

@media (max-width: 1199px) {
  .header__item {
    font-size: 0.9rem;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 799px) {
  .header__item {
    justify-content: start;
    font-size: 1.5rem;
    grid-column-gap: 2rem;
  }
}

.header__image {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: right;
  align-self: center;
}

.header__subtext {
  text-align: left;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: left;
}

.header__text {
  text-align: left;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: left;
  font-weight: bold;
  color: #FF9100;
}

.header__border {
  border-right: 1px solid #F1F1F1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  justify-self: center;
  margin: 10px 0;
}

@media (max-width: 799px) {
  .header__border {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    height: 2px;
    background: #F1F1F1;
    margin-top: 1rem;
  }
}

.header__title {
  font-size: 2.2rem;
  width: 50%;
  color: white;
}

@media (max-width: 799px) {
  .header__title {
    font-size: 2rem;
    width: auto;
  }
}

.header__label {
  font-size: 12px;
  line-height: 14px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
  background-color: #FFC20A;
  text-transform: uppercase;
  color: white;
}

.header__paragraph {
  color: white;
  width: 70%;
}

@media (max-width: 799px) {
  .header__paragraph {
    width: auto;
  }
}

.btn {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  transition: box-shadow 0.6s ease-out;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  color: white;
  background: #FF9100;
}

.btn--small {
  font-size: 13px;
}

.btn--additional {
  font-size: 14px;
  background: white;
  color: #FF9100;
  box-shadow: none;
  border: 1px solid #FF9100;
}

.btn--medium {
  font-size: 16px;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.navigation {
  display: grid;
  grid-template-columns: auto 1fr;
  background: white;
  justify-items: end;
}

.navigation--wrapper {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
}

.navigation__logo {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  align-items: center;
}

@media (max-width: 1024px) {
  .navigation__logo {
    column-gap: 0.6rem;
  }
}

.navigation__arrow {
  background: url(assets/arrow.svg) center no-repeat;
  width: 15px;
  height: 20px;
  margin: 1.8rem 0;
}

@media (max-width: 1024px) {
  .navigation__arrow {
    background: url(assets/arrow--grey.svg) center no-repeat;
  }
}

.navigation__logo-drawing {
  background: url(assets/logo.svg) center no-repeat;
  background-size: contain;
  width: 120px;
  height: 100%;
}

@media (max-width: 1024px) {
  .navigation__logo-drawing {
    background: url(assets/logo-vertical.svg) center no-repeat;
    width: 55px;
  }
}

.navigation__links {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}

@media (max-width: 1024px) {
  .navigation__links {
    flex-flow: row;
  }
}

.navigation__items {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}

@media (max-width: 1024px) {
  .navigation__items {
    display: grid;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    justify-content: left;
    align-content: center;
    justify-items: center;
    grid-gap: 1rem;
    transform: translate(100%, -100%);
    border-radius: 200%;
    transition: transform 1s ease-in-out, border-radius 1s ease-in-out;
  }
}

.navigation__item {
  padding: 2rem 0.8rem;
  font-size: 13px;
  color: #565656;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation__item:hover {
  cursor: pointer;
  color: #FF9100;
}

@media (max-width: 1024px) {
  .navigation__item {
    font-size: 2rem;
    padding: 0;
  }
}

.navigation__menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  z-index: 15;
  display: none;
}

@media (max-width: 1024px) {
  .navigation__menu-icon {
    display: inline-block;
  }
}

.navigation__navicon {
  background: #333;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  display: none;
}

@media (max-width: 1024px) {
  .navigation__navicon {
    display: block;
  }
}

.navigation__navicon:before, .navigation__navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation__navicon:before {
  top: 5px;
}

.navigation__navicon:after {
  top: -5px;
}

.navigation .navigation__menu-btn {
  display: none;
}

.navigation .navigation__menu-btn:checked ~ .navigation__items {
  transform: translate(0, 0);
  border-radius: 0;
  transition: transform 1s ease-in-out, border-radius 1s ease-in-out;
}

.navigation .navigation__menu-btn:checked ~ .navigation__menu-icon .navigation__navicon {
  background: transparent;
}

.navigation .navigation__menu-btn:checked ~ .navigation__menu-icon .navigation__navicon:before {
  transform: rotate(-45deg);
  top: 0;
}

.navigation .navigation__menu-btn:checked ~ .navigation__menu-icon .navigation__navicon:after {
  transform: rotate(45deg);
  top: 0;
}

.site {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 6rem;
}

.main {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 5rem;
}

@media (max-width: 799px) {
  .main {
    grid-template-rows: repeat(5, auto);
  }
}

.main-trainers {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 6rem;
  padding-top: 6rem;
}

.description {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .description {
    grid-column-gap: 0;
  }
}

@media (max-width: 799px) {
  .description {
    grid-template-columns: repeat(auto-fit, 100%);
    height: auto;
  }
}

.description__images {
  position: relative;
}

.description__image--main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 799px) {
  .description__image--main {
    transform: translate(0, 0);
    position: static;
  }
}

.description__image--positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.course-cards {
  display: flex;
  flex-flow: row;
}

@media (max-width: 1199px) {
  .course-cards {
    margin: 0 auto;
  }
}

@media (max-width: 799px) {
  .course-cards {
    flex-flow: column;
  }
}

.course-cards--margined {
  margin-bottom: 4.5rem;
}

@media (max-width: 799px) {
  .course-cards--margined {
    margin-bottom: 0;
  }
}

.course-card {
  width: 50%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 4rem auto;
}

@media (max-width: 799px) {
  .course-card {
    width: 100%;
  }
}

.course-card:first-child {
  padding-right: 4rem;
}

@media (max-width: 799px) {
  .course-card:first-child {
    padding-right: 0;
    padding-bottom: 4rem;
  }
}

.course-card:last-child {
  border-left: 12px dotted #FFECB3;
  padding-left: 4rem;
}

@media (max-width: 799px) {
  .course-card:last-child {
    border-left: 0;
    border-top: 12px dotted #FFECB3;
    padding-left: 0;
    padding-top: 4rem;
  }
}

.course-card__icon {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.course-card__heading {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.course-card__heading h2 {
  margin: 0;
  padding: 0;
}

.course-card__content {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0;
}

@media (max-width: 799px) {
  .course-card__content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.programs {
  background-color: #FFC20A;
}

.programs:before {
  content: "";
  display: block;
  width: 100%;
  border-top: 10px dotted white;
  transform: translateY(-50%);
}

.programs:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 10px dotted white;
  transform: translateY(50%);
}

.program {
  display: grid;
  grid-template-columns: 5% 55% auto;
  grid-template-rows: auto auto auto;
  padding: 3rem 0;
}

@media (max-width: 1199px) {
  .program {
    grid-template-columns: 5% 90%;
    grid-gap: 0.5rem;
  }
}

@media (max-width: 799px) {
  .program {
    grid-template-columns: 10% 90%;
    grid-gap: 0rem;
  }
}

.program__heading {
  margin-top: 0;
}

.program__content {
  grid-row: 2;
  grid-column: 2;
}

@media (max-width: 799px) {
  .program__content {
    grid-column: 1/3;
  }
}

.program__image {
  grid-row: 3;
  grid-column: -1;
  justify-self: end;
  align-self: end;
}

@media (max-width: 1199px) {
  .program__image {
    grid-row: 4;
    grid-column: 2;
  }
}

@media (max-width: 799px) {
  .program__image {
    display: none;
  }
}

.program__form {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .program__form {
    grid-column: 1/3;
  }
}

.program__subtitle {
  margin: 0.5rem 0;
}

.program__select {
  position: relative;
}

.program__select:after {
  content: "";
  background: url("assets/arrow_select.png") center no-repeat;
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes apear {
  from {
    transform: translate(100%, -100%);
    border-bottom-left-radius: 200%;
  }
  to {
    transform: translate(0%, 0%);
    border-radius: 0%;
  }
}

@keyframes disapear {
  0% {
    transform: translate(0%, 0%);
    border-radius: 0%;
  }
  100% {
    transform: translate(100%, -100%);
    border-bottom-left-radius: 200%;
  }
}

@keyframes bump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  transform: translateY(0%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 310px;
}

@media (max-width: 1199px) {
  .footer {
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
}

.footer--wrapper {
  background: #565656;
  border-top: 10px solid #919191;
}

.footer__content {
  padding-left: 17rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 200px;
  column-gap: 4vw;
}

@media (max-width: 1199px) {
  .footer__content {
    padding-left: 3rem;
  }
}

@media (max-width: 1024px) {
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0 5vw;
    grid-gap: 0;
  }
}

.footer__image {
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.footer__image:hover {
  animation-play-state: running;
}

@media (max-width: 1199px) {
  .footer__image {
    display: none;
  }
}

.footer__section {
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .footer__section--softuni-kids {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media (max-width: 799px) {
  .footer__section--initiative {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

@media (max-width: 799px) {
  .footer__section--education {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.footer__heading {
  color: white;
  margin-bottom: 1rem;
}

@media (max-width: 799px) {
  .footer__heading--social {
    display: none;
  }
}

.footer__nav {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  padding: 0;
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .footer__nav {
    display: block;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .footer__nav {
    grid-template-rows: repeat(7, auto);
  }
}

.footer__nav--horizontal {
  grid-auto-flow: row;
  grid-template: repeat(2, auto);
}

.footer__nav .footer__nav-item {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: normal;
}

.footer__nav .footer__nav-item a {
  line-height: 19px;
}

.footer__nav .footer__nav-item a:hover {
  color: #41BEAD;
}

@media (max-width: 799px) {
  .footer__nav .footer__nav-item {
    padding-bottom: 1rem;
  }
}

.footer__social-item {
  color: #E6E6E6;
  font-size: 2rem;
  margin-right: 1.8rem;
}

.footer__social-item:hover {
  color: #41BEAD;
}

@media (max-width: 799px) {
  .footer__social-item {
    display: inline-block;
    transform: translateY(-100%);
  }
}

.footer__copyright {
  margin-top: 2rem;
  color: #919191;
}

@media (max-width: 799px) {
  .footer__copyright {
    border-top: 1px solid #696969;
    border: 0;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: #565656;
  }
}

@media (max-width: 799px) {
  .footer__copyright:before {
    border-top: 1px solid #696969;
    content: "";
    display: block;
    width: 90vw;
    margin: auto;
    margin-bottom: 2rem;
  }
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.certificate {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr;
}

@media (max-width: 799px) {
  .certificate {
    display: none;
  }
}

.certificate__icon {
  align-self: end;
}

.certificate__heading {
  margin: 0;
  align-self: end;
}

.certificate__content {
  grid-row: 2;
  grid-column: 2;
}

.certificate__image {
  grid-column: 3;
  grid-row: 1/ span 2;
  justify-self: end;
  margin-right: 3rem;
  background-color: #D6D6D6;
  width: 350px;
  height: 250px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (max-width: 799px) {
  .certificate__image {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
  }
}

@media (max-width: 599px) {
  .certificate__image {
    width: 100%;
    margin-right: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  border-bottom: 10px dotted #DFF4F1;
  padding-bottom: 6rem;
}

@media (max-width: 1199px) {
  .cards {
    grid-template-columns: auto;
  }
}

.cards .card {
  display: grid;
  grid-gap: 1rem;
  grid-column-gap: 2rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

@media (max-width: 799px) {
  .cards .card {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.cards .card__picture {
  grid-row: 1/ span 2;
}

@media (max-width: 799px) {
  .cards .card__picture {
    grid-row: 1;
  }
}

@media (max-width: 799px) {
  .cards .card__header {
    grid-row: 2;
    text-align: center;
  }
}

.cards .card__content {
  grid-column: 2;
}

@media (max-width: 799px) {
  .cards .card__content {
    grid-row: 3;
    grid-column: 1;
  }
}

.cards .card__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #41BEAD;
}

.cards .card__subtitle {
  color: #B2B2B2;
}

.cards .card__paragraph {
  margin: 0;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.cta {
  display: grid;
  justify-content: center;
  grid-gap: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  margin: 0 auto;
  width: 90vw;
}

.cta--wrapper {
  border-top: 12px solid #92CDFB;
  background-color: #66B9F8;
}

.cta__title {
  color: white;
  margin: 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .cta__title {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
}

.cta__subtitle {
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  .cta__subtitle {
    text-align: left;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 32px;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.cta__element {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  background: transparent;
  padding: 16px;
}

.cta__element::placeholder {
  color: white;
}

@media (max-width: 1024px) {
  .cta__button {
    justify-self: left;
  }
}

@media (max-width: 799px) {
  .cta__button {
    justify-self: auto;
  }
}

.contacts {
  width: 520px;
  grid-template-columns: auto auto;
  display: grid;
  grid-template-rows: auto auto auto;
  column-gap: 1.8rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 2rem;
  background: white;
}

.contacts--wrapper {
  left: 5vw;
  position: relative;
  top: 130px;
}

.contacts__button {
  grid-row: 3;
  grid-column: 1/span 2;
  justify-self: center;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 0.8rem;
  color: #41BEAD;
}

.contacts__info {
  color: #565656;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts__buisness-hours {
  color: #FF9100;
}

.contacts-form {
  padding: 6rem 0;
}

.contacts-form__title {
  color: #41BEAD;
}

.contacts-form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 30px;
  width: 50%;
}

.contacts-form__element {
  padding: 1rem;
  color: #919191;
  border: 1px solid #919191;
  border-radius: 6px;
}

.contacts-form__element#email {
  grid-column: 2;
}

.contacts-form__element#message {
  grid-row: 2;
  grid-column: 1/span 2;
  min-height: 200px;
}

.contacts-form__button {
  grid-row: 3;
  justify-self: start;
  margin-top: 2px;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-bold.eot") format("embedded-opentype");
  src: local("Lato Bold"), local("Lato-Bold"), url("assets/fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-bold.woff2") format("woff2"), url("assets/fonts/lato-bold.woff") format("woff"), url("assets/fonts/lato-bold.ttf") format("truetype"), url("assets/fonts/lato-bold.svg#lato") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-bolditalic.eot") format("embedded-opentype");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("assets/fonts/lato-bolditalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-bolditalic.woff2") format("woff2"), url("assets/fonts/lato-bolditalic.woff") format("woff"), url("assets/fonts/lato-bolditalic.ttf") format("truetype"), url("assets/fonts/lato-bolditalic.svg#lato") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-regular.eot") format("embedded-opentype");
  src: local("Lato Regular"), local("Lato-Regular"), url("assets/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-regular.woff2") format("woff2"), url("assets/fonts/lato-regular.woff") format("woff"), url("assets/fonts/lato-regular.ttf") format("truetype"), url("assets/fonts/lato-regular.svg#lato") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/lato-italic.eot") format("embedded-opentype");
  src: local("Lato Italic"), local("Lato-Italic"), url("assets/fonts/lato-italic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/lato-italic.woff2") format("woff2"), url("assets/fonts/lato-italic.woff") format("woff"), url("assets/fonts/lato-italic.ttf") format("truetype"), url("assets/fonts/lato-italic.svg#lato") format("svg");
  font-weight: 400;
  font-style: italic;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}

@media (max-width: 1024px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .cards-list {
    grid-template-columns: 1fr;
    grid-gap: 2.6rem;
  }
}

.cards-list .card-preview {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  grid-gap: 0.5rem;
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(5) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(6) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(7) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(8) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(9) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(10) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(11) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(12) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(13) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(14) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(15) {
    display: none;
  }
}

@media (max-width: 799px) {
  .cards-list .card-preview:nth-child(16) {
    display: none;
  }
}

.cards-list .card-preview__title {
  color: #41BEAD;
  margin: 0;
}

.cards-list .card-preview__subtitle {
  color: #B2B2B2;
  margin: 0.5rem 0;
}

.cards-list .card-preview__image {
  cursor: pointer;
  position: relative;
}

.cards-list .card-preview__image:before {
  transition: all 1s ease-in-out;
}

.cards-list .card-preview__image:hover:before {
  content: "i";
  position: absolute;
  top: 4%;
  left: 4%;
  bottom: 4%;
  right: 4%;
  background: #FF9100ba;
  border-radius: 50%;
  text-align: center;
  font-size: 6rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 12%;
  font-weight: bold;
}

.cards-list .card-preview__image:after {
  transition: all 1s ease-in-out;
}

.cards-list .card-preview__image:hover:after {
  content: "НАУЧИ ОЩЕ";
  position: absolute;
  top: 4%;
  left: 4%;
  bottom: 4%;
  right: 4%;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  font-family: Latto;
  padding-top: 15%;
  transform: translateY(5.7rem);
}

.cards-list .card-preview__image img {
  display: block;
}

.additional-info {
  background: #FFF8E1;
  display: grid;
  justify-items: center;
  padding: 6rem 0;
}

.additional-info__heading {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #41BEAD;
}

.additional-info__title {
  color: #41BEAD;
}

.additional-info__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}
