/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
html,
* {
  font-family: 'Lato', sans-serif;
  color: #565656;
}

a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none !important;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}

button {
  font-weight: 800;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 {
  line-height: 44px;
}

h2 {
  line-height: 36px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

h5 {
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

select {
  background: #F8F8F8;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-bottom: 1rem;
  width: 100%;
  color: #565656;
  border-radius: 6px;
  padding: 0.8rem;
  font-weight: bold;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: #919191;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.content--wrapper {
  width: 90vw;
  margin: 0 auto;
}

@media (max-width: 799px) {
  .content--wrapper {
    margin: 0 6.5vw;
  }
}

.centered {
  text-align: center;
}

.centered__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.centered__position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.header__info {
  background: #44A9F8;
  color: white;
  padding: 64px 0;
}

.header__info--orange {
  background-color: #FFB402;
}

.header__info--small {
  padding: 3rem;
}

.header__cta {
  display: grid;
  grid-template-columns: 20% .3fr auto auto auto auto;
  position: relative;
  top: -60px;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background: white;
  height: 112px;
  grid-column-gap: 2rem;
  padding: 1.5rem;
}

@media (max-width: 1199px) {
  .header__cta {
    grid-template-columns: 20% 0% auto auto auto auto;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 799px) {
  .header__cta {
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 1.5rem;
    height: auto;
  }
}

.header__enroll-btn {
  justify-self: center;
}

.header__item {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 2rem;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .header__item {
    font-size: 0.9rem;
    grid-column-gap: 1rem;
  }
}

@media (max-width: 799px) {
  .header__item {
    justify-content: start;
    font-size: 1.5rem;
    grid-column-gap: 2rem;
  }
}

.header__image {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: right;
}

.header__subtext {
  text-align: left;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: left;
}

.header__text {
  text-align: left;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-self: left;
  font-weight: bold;
  color: #FF9100;
}

.header__border {
  border-right: 1px solid #F1F1F1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  justify-self: center;
}

@media (max-width: 799px) {
  .header__border {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    height: 2px;
    background: #F1F1F1;
    margin-top: 1rem;
  }
}

.header__title {
  font-size: 2.2rem;
  width: 50%;
  color: white;
}

@media (max-width: 799px) {
  .header__title {
    font-size: 1.8rem;
    width: auto;
  }
}

.header__label {
  font-size: 12px;
  line-height: 14px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
  background-color: #FFC20A;
  text-transform: uppercase;
  color: white;
}

.header__paragraph {
  color: white;
  width: 70%;
}

.btn {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  color: white;
  background: #FF9100;
}

.btn--small {
  font-size: 13px;
}

.btn--medium {
  font-size: 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo img {
  margin-right: 10px;
}

.navigation__links {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}

@media (max-width: 1199px) {
  .navigation__links {
    flex-flow: row;
  }
}

.navigation__items {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}

@media (max-width: 1199px) {
  .navigation__items {
    display: none;
  }
}

.navigation__item {
  padding: 2rem 0.8rem;
  font-size: 13px;
  line-height: 16px;
  color: #565656;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation__item:hover {
  cursor: pointer;
  color: #FF9100;
}

.navigation__menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  position: relative;
  z-index: 15;
  display: none;
}

@media (max-width: 1199px) {
  .navigation__menu-icon {
    display: inline-block;
  }
}

.navigation__navicon {
  background: #333;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  display: none;
}

@media (max-width: 1199px) {
  .navigation__navicon {
    display: block;
  }
}

.navigation__navicon:before, .navigation__navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation__navicon:before {
  top: 5px;
}

.navigation__navicon:after {
  top: -5px;
}

.navigation .navigation__menu-btn {
  display: none;
}

.main {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 5rem;
}

.main-trainers {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 5rem;
  padding-top: 5rem;
}

.description {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .description {
    grid-column-gap: 0;
  }
}

@media (max-width: 799px) {
  .description {
    grid-template-columns: repeat(auto-fit, 100%);
    height: auto;
  }
}

.description__images {
  position: relative;
}

.description__image--main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 799px) {
  .description__image--main {
    transform: translate(0, 0);
    position: static;
  }
}

.description__image--positioned {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.course-cards {
  display: flex;
  flex-flow: row;
}

@media (max-width: 1199px) {
  .course-cards {
    margin: 0 auto;
  }
}

@media (max-width: 799px) {
  .course-cards {
    flex-flow: column;
  }
}

.course-card {
  width: 50%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 4rem auto;
}

@media (max-width: 799px) {
  .course-card {
    width: 100%;
  }
}

.course-card:first-child {
  padding-right: 4rem;
}

@media (max-width: 799px) {
  .course-card:first-child {
    padding-right: 0;
    padding-bottom: 4rem;
  }
}

.course-card:last-child {
  border-left: 12px dotted #FFECB3;
  padding-left: 4rem;
}

@media (max-width: 799px) {
  .course-card:last-child {
    border-left: 0;
    border-top: 12px dotted #FFECB3;
    padding-left: 0;
    padding-top: 4rem;
  }
}

.course-card__icon {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.course-card__heading {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 0;
  padding: 0;
}

.course-card__heading h2 {
  margin: 0;
  padding: 0;
}

.course-card__content {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0;
}

@media (max-width: 799px) {
  .course-card__content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}

.programs {
  background-color: #FFC20A;
}

.program {
  display: grid;
  grid-template-columns: 5% 55% auto;
  grid-template-rows: auto auto auto;
  padding: 3rem 0;
}

@media (max-width: 1199px) {
  .program {
    grid-template-columns: 5% 90%;
    grid-gap: 0.5rem;
  }
}

@media (max-width: 799px) {
  .program {
    grid-template-columns: 10% 90%;
    grid-gap: 0rem;
  }
}

.program__heading {
  margin-top: 0;
}

.program__content {
  grid-row: 2;
  grid-column: 2;
}

.program__image {
  grid-row: 3;
  grid-column: -1;
  justify-self: end;
  align-self: end;
}

@media (max-width: 1199px) {
  .program__image {
    grid-row: 4;
    grid-column: 2;
  }
}

@media (max-width: 799px) {
  .program__image {
    display: none;
  }
}

.program__form {
  grid-column: 2;
  grid-row: 3;
}

.program__subtitle {
  margin: 0.5rem 0;
}

.program__select {
  position: relative;
}

.program__select:after {
  content: "";
  background: url("../../assets/arrow_select.png") center no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.footer {
  transform: translateY(0%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 310px;
  padding-left: 100px;
}

@media (max-width: 1199px) {
  .footer {
    padding-left: 0;
  }
}

.footer--wrapper {
  background: #565656;
  border-top: 10px solid #919191;
}

.footer .footer__content {
  padding-left: 180px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 200px;
  grid-gap: 3rem;
}

@media (max-width: 1199px) {
  .footer .footer__content {
    padding-left: 3rem;
  }
}

.footer .footer__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1199px) {
  .footer .footer__image {
    display: none;
  }
}

.footer .footer__section {
  grid-gap: 1rem;
}

.footer .footer__section .footer__heading {
  color: white;
  margin-bottom: 1rem;
}

@media (max-width: 799px) {
  .footer .footer__section .footer__heading--social {
    display: none;
  }
}

.footer .footer__section .footer__nav {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  padding: 0;
  grid-gap: 1rem;
}

@media (max-width: 799px) {
  .footer .footer__section .footer__nav {
    display: block;
  }
}

.footer .footer__section .footer__nav--horizontal {
  grid-auto-flow: row;
  grid-template: repeat(2, auto);
}

.footer .footer__section .footer__nav .footer__nav-item {
  font-size: 16px;
  color: #E6E6E6;
  font-weight: normal;
}

.footer .footer__section .footer__nav .footer__nav-item a {
  line-height: 19px;
}

.footer .footer__section .footer__nav .footer__nav-item a:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__social .footer__social-item {
  color: #E6E6E6;
  font-size: 2rem;
}

.footer .footer__section .footer__social .footer__social-item:hover {
  color: #41BEAD;
}

.footer .footer__section .footer__copyright {
  color: #919191;
}

@media (max-width: 799px) {
  .footer .footer__content {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0;
    grid-gap: 0;
  }
  .footer .footer__softuni-kids {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .footer .footer__initiative {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .footer .footer__educatio {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .footer .footer__find-us {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    border-top: 1px solid #696969;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

/*@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}*/
.certificate {
  display: grid;
  grid-template-columns: 4rem 1fr 1fr;
}

@media (max-width: 799px) {
  .certificate {
    display: none;
  }
}

.certificate__icon {
  align-self: end;
}

.certificate__heading {
  margin: 0;
  align-self: end;
}

.certificate__content {
  grid-row: 2;
  grid-column: 2;
}

.certificate__image {
  grid-column: 3;
  grid-row: 1/ span 2;
  justify-self: end;
  margin-right: 3rem;
  background-color: #D6D6D6;
  width: 350px;
  height: 250px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (max-width: 799px) {
  .certificate__image {
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
  }
}

@media (max-width: 599px) {
  .certificate__image {
    width: 100%;
    margin-right: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.cards .card {
  display: grid;
  grid-gap: 1rem;
  grid-column-gap: 2rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.cards .card__content {
  grid-column: 2;
}

.cards .card__picture {
  grid-row: 1/ span 2;
}

.cards .card__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #41BEAD;
}

.cards .card__subtitle {
  color: #B2B2B2;
}

.cards .card__paragraph {
  margin: 0;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}

.cards-list .card-preview {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  grid-gap: 0.5rem;
}

.cards-list .card-preview__title {
  color: #41BEAD;
  margin: 0;
}

.cards-list .card-preview__subtitle {
  color: #B2B2B2;
  margin: 0.5rem 0;
}

.cta {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.cta--wrapper {
  background-color: #66B9F8;
}

.cta__title {
  color: white;
  margin: 0;
}

.cta__subtitle {
  color: white;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 32px;
  padding-top: 1rem;
}

.cta__element {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 6px;
  color: white;
  background: transparent;
  padding: 16px;
}

.cta__element::placeholder {
  color: white;
}

.cta__button {
  grid-column: -1;
}
