select {
  background: #F8F8F8;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  color: #565656;
  border-radius: 6px;
  padding: 0.8rem;
  font-weight: bold;
}

select:hover {
  cursor: pointer;
}

select::placeholder {
  color: #919191;
}
