@import '../01-settings/settings-colors.scss';
select {
    background: #F8F8F8;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    color: $grey-700;
    border-radius: 6px;
    padding: 0.8rem;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
    &::placeholder {
        color: $grey-500;
    }
}